<div class="login">
  <div class="login-container">
    <div class="title"><h1>SIGN UP</h1></div>
    <div class="login-forms-container">
      <div class="input-first-name">First name<br>
        <input
          class="user-first-name-input"
          type="text"
          [(ngModel)]="userFirstNameInput"
          maxlength="10"
          (keyup.enter)="finishSignUp()"
      >
      </div>
      <div class="input-second-name">Second name<br>
        <input
          class="user-second-name-input"
          type="text"
          [(ngModel)]="userSecondNameInput"
          maxlength="10"
          (keyup.enter)="finishSignUp()"
        >
        </div>
      <div class="sex">
        <input type="radio"
               name="sex"
               value="man"
               [(ngModel)]="userSex"
        >
        <label>Man</label>
        <input type="radio"
               name="sex"
               value="woman"
               [(ngModel)]="userSex"
        >
        <label>Woman</label>
      </div>
      <button class="finish-login-button" type="submit" (click)="finishSignUp()">Lets start!</button>
    </div>
  </div>
</div>
