.todo-app{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-right: 150px
}
.todo-container{
  border: 6px solid white;
  background-color: #987dfe;
  border-radius: 20px;
  height: 500px;
  width: 900px;
}
.todo-content{
  display: flex;
}
.user-profile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  height: 500px;
  background-color: #fff;
}
.user-info{
  display: flex;
  width: 180px;
  height: 60px;
  background-color: #fff;
  margin: 10px;
}
.user-icon{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.user-name{
  margin: 10px;
}
hr{
  width: 170px;
}
.user-nav{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top:10px;
  height: 440px;
  width: 200px;
}
.user-task-type-menu{
  display: flex;
  flex-direction: column;
}
.today-task{
  align-self: center;
  border: none;
  outline: none;
  transition: .3s;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}
.today-task:hover{
  background-color: #fc99ae;
  transition: .3s;
  color: white;
}
.create-new-section{
  align-self: center;
  border: none;
  outline: none;
  transition: .3s;
  border-radius: 20px;
  height: 30px;
  width: 130px;
  cursor: pointer;
  margin-top: 10px;

}
.create-new-section:hover{
  background-color: #4cc83c;
  transition: .3s;
  color: white;
}
.user-setting{
  align-self: center;
  margin-bottom: 20px;
}
.user-setting-button{
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 100px;
  background-color: lightgray;
  transition: .3s;
  cursor: pointer;
}
.selections{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.selection{
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background-color: white;
  transition: .3s;
  cursor: pointer;
}
.selection:hover{
  background-color: #987dfe;
  color: white;
}
.user-setting-button:hover{
  background-color: #987dfe;
  color: white;
  transition: .3s;
}
.task-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
}
.title{
  align-self: start;
  margin: 30px;
  font-size: 30px;
  color: white;
}
.task-form{
  display: flex;
  min-height: 50px;
  background-color: white;
  border-radius: 20px;
}
.new-task-input{
  align-self: center;
  width: 600px;
}
.tasks{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 500px;
  height: 600px;
  margin: 20px 0 10px 0;
}
.task{
  display: flex;
  border-radius: 20px;
  background-color: #ffffff;
  width: 500px;
  min-height: 40px;
  align-self: center;
  margin: 10px 0 10px 0;
  padding-left: 40px;
}
/* background style*/
.background{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.circle-container{
  align-self: flex-end;
  width: 300px;
  height: 300px;
  margin-top: 100px;
  margin-left: -100px;
}
.background-circle{
  border-top: 2px solid #ab495f;
  border-right: 2px solid #ab495f;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fc99ae;
}
.finished{
  text-decoration: line-through;
}
