.todo-container{
  display: flex;
  justify-content: space-around;
  width: 600px;
}
.task-text-container{
  margin-top: 10px;
  margin-right: 40px;
}
.task-button-container{
  margin-left:40px ;
}
.finished-task-button{
  margin: 5px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 60px;
  cursor: pointer;
  transition: .3s;
}
.finished-task-button:hover{
  background-color: #987dfe;
  color: white;
  transition: .3s;
}
.delete-task-button{
  margin: 5px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 60px;
  cursor: pointer;
  transition: .3s;
}
.delete-task-button:hover{
  background-color: #ab495f;
  color: white;
  transition: .3s;
}
.status-finished{
  text-decoration: line-through;
}

