<div id="todo-form-container">
  <span>
     <select name="todo-status"
             id="todo-status"
             #select
             (change)="sectionSelection(select.value)">

       <option value="active">Active</option>
       <option value="finished">Finished</option>
  </select>
    <input type="text"
           id="new-task-input"
           placeholder="What's want todo...?"
           maxlength="25"
           [(ngModel)]="newTask"
           (keyup.enter)="addNewTask()">

    <button id="create-new-task-button" (click)="addNewTask()">Create</button>
  </span>
</div>
