<div class="setting">
  <div class="setting-container">
    <div class="title"><h1>Setting</h1></div>
    <div class="setting-forms-container">
      <div class="input-first-name">First name<br>
        <input
          class="user-first-name-input"
          type="text"
          maxlength="10"
          [(ngModel)]="userFirstNameInput"
          (keyup.enter)="finishSetting()"
        >
      </div>
      <div class="input-second-name">Second name<br>
        <input
          class="user-second-name-input"
          type="text"
          maxlength="10"
          [(ngModel)]="userSecondNameInput"
          (keyup.enter)="finishSetting()"
        >
      </div>
      <button class="finish-setting-button" type="submit" (click)="finishSetting()">Save!</button>
    </div>
  </div>
</div>

