body {
  background-color: #987dfe;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  border: 1px solid white;
  background-color: #ffffff;
  width: 12px;

}
::-webkit-scrollbar-thumb{
  background-color: #987dfe;
  border:2px solid #3f3073;
  border-radius: 4px;

}
