.todo-container{
  display: flex;
  justify-content: space-around;
  width: 600px;
}
.task-text-container{
  margin-top: 10px;
  margin-right: 40px;
}
.task-button-container{
  margin-left:40px ;
}
.finished-task-button{
  margin: 5px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 60px;
}
.delete-task-button{
  margin: 5px;
  border-radius: 20px;
  border: none;
  height: 30px;
  width: 60px;
}
