#new-todo{
  width: 400px;
  height: 40px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
#todo-text{
  font-size: 20px;
  margin-top: 7px;
  margin-left: 5px;
}
#todo-button{
  margin-top: 7px
}
button{
  border: 1px solid lightgray;
  cursor: pointer;
  margin-left: 3px;
}
#complete-button:hover{
  background-color:#1fee0a;
}
#delete-button:hover{
  background-color: #ff3d1d;
}
