.sign-up{
  width: 100vw;
  height: 100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-container{
  width:400px;
  height:400px;
  background-color: #fff;
  border-radius: 20px;
}
.sign-up-forms-container{
  display: flex;
  flex-direction: column;
}
.title{
  margin: 20px 50px;
}
.input-first-name{
  margin: 0 50px 20px 50px;
}
.user-first-name-input{
  width: 300px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
}
.input-second-name{
  margin: 0 50px 20px 50px;
}
.user-second-name-input{
  width: 300px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  height: 30px;
}
.finish-sign-up-button{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-left: 50px ;
  background-color: #fc99ae;
  cursor: pointer;
}
.sex{
  margin: 0 50px 20px 50px;
}
.validation{
  color:red;
}
input.ng-invalid.ng-touched{
  border: red solid 1px;
}
input.ng-valid.ng-touched{
  border:1px solid green;
}
